body {
  display: grid;
  grid-template:
    [header-left] "head head" 2em [header-right]
    [main-left] "main main" auto [main-right]
    [inspector-left] "inspector inspector" min-content [inspector-right]
    [footer-left] "foot foot" 2em [footer-right]
    / auto 20rem;
  width: 100vw;
  height: 100vh;
}

header {
  grid-area: head;

  display: flex;
  flex-direction: row;

  align-items: center;
  justify-content: space-between;

  > * {
    margin: 0 1em;
  }

  input {
    flex: 0 1 50em;
  }
}

main {
  grid-area: main;
  overflow: auto;
  > table {
    width: 100%;
    th,
    td {
      padding: 0.2em 0.3em;
      white-space: nowrap;
      text-overflow: ellipsis;
      vertical-align: middle;
      &.progress {
        display: flex;
      }
    }

    tr {
      transition: all 300ms;
      &.selected {
        background-color: #0ff;
      }
    }

    progress {
      flex: 1 1;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-items: center;
      &::before {
        content: attr(value) "%";
        text-align: center;
        margin-top: 0.5em;
      }
      &[value] {
        height: 2em;
      }
    }
  }
}

aside {
  transition: all 300ms;
  grid-area: inspector;

  &.hidden {
    display: none;
  }
}

footer {
  grid-area: foot;
}

dt {
  font-weight: bold;
  font-size: 120%;
}
