body {
  display: grid;
  grid-template:
    [header-left] 'head head' 2em [header-right]
    [main-left] 'main main' auto [main-right]
    [inspector-left] 'inspector inspector' min-content [inspector-right]
    [footer-left] 'foot foot' 2em [footer-right]
    / auto 20rem;
  width: 100vw;
  height: 100vh;
}

header {
  grid-area: head;

  display: flex;
  flex-direction: row;

  align-items: center;
  justify-content: space-between;

  > * {
    margin: 0 1em;
  }

  input {
    flex: 0 1 50em;
  }
}

main {
  grid-area: main;
  overflow: auto;
  > ul {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 1em;

    > li {
      box-sizing: border-box;
      width: 20em;
      padding: 1em;
      margin: 1em;
      background-color: pink;
      &.autodownloaded {
        border: solid 1px red;
      }
    }
  }
}

aside {
  transition: all 300ms;
  grid-area: inspector;

  &.hidden {
    display: none;
  }
}

footer {
  grid-area: foot;
}

dt {
  font-weight: bold;
  font-size: 120%;
}
